.body-detail-container {
    display: flex;
    /* flex-direction: row; */
}

.container-absolute-pokemon-types{
    /* position: absolute;
    top: 45px;
    right: 10px; */
    margin-top: 30px;
}

.body-detail-container .pokemon-name-container{
    margin-left: 10px;
    flex: 1
}

.info-pokemon{
    display: flex;
    justify-content: space-between;
}

.ability-container{
    border-color: #dbdbdb;
    /* border-top: 0.5px solid #dbdbdb; */
    padding-top: 10px;
}

.button-footer{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #4399c5;
    font-weight: 500;
    cursor: pointer;
}

.stat-title{
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
}

.stat-container{
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.photo-pokemon-detail-container{
    height: 200px;
    width: 100%;
    border-radius: 8px;
    background-color: #ebebeb;
    margin: .4em;
    justify-content: center;
    align-items: center;
    display: flex;
}